@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

:root{
    --green: #048c26;
    --blanc: #fff;
    --noir: #000;
    --orange: #f6a518;
    --vert_clair: #ebf6ee;
    --gris: #d8d8d8;
    box-sizing: inherit;
}
* {
    font-family: 'Dosis', sans-serif;
}


.owl-carousel {
    background-color: #f8f8f8;
    padding: 20px 0;
    margin: 20px 0;
}

#info {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 100px;
    background-color: var(--green);
    
}

.logoLang {
    width: 27px;
    margin-left: 5px;
    height: 25px;
}


#info h1 {
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#info a {
    border-radius: 10px;
    text-decoration: none;
    color: var(--orange);
    background-color: var(--blanc);
    padding: 0 10px;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
    font-weight: bold;
    letter-spacing: 0.1em;
}

#info a:hover {
    background-color: var(--orange);
    animation-iteration-count: 1;
    color: var(--blanc);
}

#flash:hover {
    background-color: var(--orange);
}


#logo {
    margin: 0;
    padding-left: 5px;
    width: 110px;
    height: 60px;
}

#navbar-content li a {
    letter-spacing: 0.1em;
}

#navbar-content {
    background-color: var(--blanc);
}

#navbar-content li a {
    color: var(--noir);
}
#navbar-content li a:hover{
    color: var(--orange);
}

#navbar-content .active {
    color: var(--orange);
}

#carouselExampleControls {
    border-bottom: 10px solid var(--orange);
}

#mainHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 200;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 1px var(--noir);
}

#main h5 {
    color: var(--noir);
    font-size: 1.2em;
    color: var(--green);
    letter-spacing: 0.1em;
    margin: 0;
}

#main a:hover {
    color: var(--orange);
} 


#actualite article a {
    background-color: var(--green);
    padding: 5px 15px;
    text-decoration: none;
    color: var(--blanc);
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8em;
}

#actualite article a:hover {
    color: var(--blanc);
    background-color: var(--orange);
}

#main form button {
    color: var(--green);
    border: 1px solid var(--green);
}

#main form button:hover {
    background-color: var(--green);
    color: var(--blanc);
}

.titre {
    border-bottom: 2px solid var(--green);
    margin-bottom: 10px;
}

.titre h1 {
    color: var(--green);    
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-family: 600;
    margin: 10px 0 10px 0;
}

.titre a {
    text-decoration: none;
    color: var(--green);
    letter-spacing: 0.1em;
    font-size: 1.1em;
    font-weight: 500;
}


#region p {
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    background-color: var(--vert_clair);
}

#region a {
    text-decoration: none;  
    background-color: var(--green);
    color: var(--blanc);
    width: 220px;
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 20px;
}

#region a:hover {
    color: var(--blanc);
    background-color: var(--orange);
}

#contact p {
    font-weight: bold;
}

/*icone */
.vert svg {
    background-color: var(--green);
    width: 40px;
    height: 40px;
    color: var(--blanc);
    border-radius: 50%;
    padding: 10px;
}

/*la fleche */
#haut {
    display: none;
}

.text-justify {
    text-align: justify;
}

#nav-tab1 {
    display: none;
}

#menu {
    background-color: var(--blanc);
    border: 1px solid var(--green);
    height: 50px;
}

#aed {
    height: 170px;
    background: url("../img/slide-cnra-scaled.jpg") center / cover no-repeat;
    border-radius: 0 0 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .photo {
    width: 1719px;
    height: 250px;
}

.filAriane a{
    color: var(--green);
    text-decoration: none;
}

.filAriane svg{
    text-decoration: none;
}

#main .txt-size {
    font-size: 0.8em;
    border-radius: 50px;
    background-color: var(--green);
}
#main form textarea {
    resize: none;
}

#main form span {
    color: red;
}

#main .green {
    color: var(--green);
}

.green {
    color: var(--green);
}

.bgGreen {
    background-color: var(--green);
}


footer {
    background-image: url("../img/CNRA-footer-scaled.jpg");
    background-size: cover;
    width: 100%;
    height: 150px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
}

footer ul li a {
    text-decoration: none;
    color: var(--blanc);
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 0.8em;
}
footer ul li a:hover {
    color: var(--orange);
}

footer p {
    padding: 53px 20px 0 20px;
    text-align: center;
    color: var(--blanc);
    margin: 0;
}

@media screen and (min-width:768px) {
    .logoLang {
        width: 30px;
        margin-left: 5px;
        height: 25px;
    }
    #info h1 {
        font-size: 1.1em;
    }
    #info {
        height: 50px;
    }
    iframe {
        width: 750px;
    }
    .map {
        width: 390px;
        height: 350px;
    }
    #lang {
        position: relative;
        right: -17%;
        top: -1%;
    }
    .logoLang {
        margin-left: 8px;
    }
    #nav-tab1 {
        display: block;
    }
    #nav-tab2 {
        display: none;
    }
    
}

@media screen and (min-width:992px) {
    #navbar-content {
        background-color: transparent;
    }
    iframe {
        width: 450px;
        height: 250px;
    }
    .map {
        width: 450px;
        height: 350px;
    }
    #lang {
        right: -25%;
        top: -1%;
    }
    #haut {
        display: block;
        width: 60px;
        height: 60px;
        background-color: var(--green);
        color: var(--blanc);
        border-radius: 50%;
        position: fixed;
        right: 1px;
        bottom: 50px;
        border: none;
    }
    #haut svg {
        width: 30px;
        height: 30px;
    }

}

@media screen and (min-width:1024px) {
    #carouselExampleControls {
        margin: 0 67px;
    }
    #logo {
        margin: 0;
        padding-left: 70px;
        width: 200px;
        height: 70px;
    }
    #aed {
        margin: 0 65px;
    }
    .navbar-nav {
        margin-right: 60px;
    }
    iframe {
        width: 550px;
        height: 320px;
    }
    .map {
        width: 550px;
        height: 350px;
    }
    .filAriane {
        margin-left: 15px;
    }

    #main .photo {
        width: 1719px;
        height: 370px;
    }
}